<header>
    <mat-toolbar color="primary" class="nav-bar">
        <span class="app-title">TODO List</span>
        <span class="nav-items-list">
            <span class="nav-item">
                <a [routerLink]="absoluteRoutesNames.HOME">
                    <mat-icon>home</mat-icon>Accueil
                </a>
                <a [routerLink]="absoluteRoutesNames.ABOUT">
                    <mat-icon>help_outline</mat-icon>&Agrave; propos
                </a>
            </span>
        </span>
    </mat-toolbar>
</header>