<section class="main-content">
    <p>
        This is a simple Todo list with Angular / Spring Boot.
        The code of the server (or API) part, can be found <a target="_blank"
            href="https://github.com/WESquad-spires/todo-list-spring-api">here</a>
    </p>
    <p>
        The code of the front part (this GUI), can be found <a target="_blank"
            href="https://github.com/WESquad-spires/todo-list-ng-application">here</a>
        for the Angular front application.
    </p>
</section>